.emphasis {
  font-style: italic;
}

.emphasis-strong {
  font-style: italic;
  font-weight: bold;
}

.underline {
  text-decoration: line-through;
}

.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-border {
  border: 1px solid red;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.preview-container {
  padding: 5px;
  display: flex;
}

.subtitle {
  color: #666;
  font-size: 14px;
  font-style: italic;
}

.teaser {
  color: #000;
  margin-top: 10px;
  text-align: justify;
}

.preview-text {
  flex: 4;
  padding-right: 10px;
}

.preview-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image > img {
  width: 200px;
  height: 204px;
}

.read-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.title > a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.title > a:hover {
  outline: none;
  color: #4da64d;
  transition: 0.3s;
}

.subtitle > a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.subtitle > a:hover {
  outline: none;
  color: #999999;
  transition: 0.3s;
}

.teaser > a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.teaser > a:hover {
  outline: none;
  text-decoration: none;
  color: #4da64d;
  transition: 0.3s;
}

.preview-container > a {
  opacity: 1;
}

.preview-container > a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.sidebar-row-group {
  padding-bottom: 20px;
}

.sidebar-header {
  font-size: 20px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
  margin-bottom: 15px;
}

.sidebar-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0066b2;
}

.row-separator {
  border-bottom: 1px solid #666;
}
