html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 320px) {
  /* These are the top pages id container */
  #home,
  #articles,
  #dubious,
  #about {
    margin-top: 20px;
    line-height: 1.5;
    padding: 0 10px;
  }

  .responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid green;
  }

  #articles a {
    color: #198754;
    text-decoration: none;
  }

  #articles a:hover {
    color: #0066b2;
    text-decoration: underline;
    transition: 0.3s;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  #home,
  #articles,
  #dubious,
  #about {
    margin-top: 30px;
    line-height: 1.6;
    padding: 0;
  }
}

@media only screen and (min-width: 1400px) {
  #home,
  #articles,
  #dubious,
  #about {
    margin-top: 30px;
    line-height: 1.6;
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
